body{
  background-color: #B0BB98;
}
.logo-button{
  margin-top: 20px;
}

.button:hover{
  background-color: cornsilk;
  cursor: pointer;
}

.button{
  border-radius: 12px;
  border-width: 1px;
}

.addToOrderButton{
  width: 300px;
  height: 100px;
  text-align: center;
  margin-left: 30px; 
  border-radius: 12px;
  border-width: 1px;
}

.addToOrderButton:hover{
  background-color: seagreen;
  width: 100px;
}

.leftbox{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.reviewOrder{
  margin-top: 50px;
  padding-bottom: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  background-color:#F6D696;

}

.left{
 padding-left: 50px;
 padding-right: 50px;
 background-color: white;
 
}

hr{
  border-width: 1px;
  border-color: seagreen;
  margin-top: 15px;
}

.right{
  margin: 75px;
}

.App {
  display: flex;
  min-height: 100vh;
}

h1{
  font-family: 'Pacifico', cursive;
}

.inputBox {
  display: flex;
  flex-direction: column;
}

input[type=text]{
  border: 1px  solid black;
  border-radius: 2px;
}

.logo{
  margin-top: 20px;
  width: 170px;
  height: 170px;
}

.leftFood{
  display: inline-block;
  margin-left: 200px;;
}

.rightFood{
  display: inline-block;
  margin-left: 200px;
}

.shrimpIcon{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}


.cowIcon{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.chickenIcon{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}


.veggieIcon{
  height: 16px;
  width: 16px;
  margin-right: 10px;
}


.Tacos{
  background-color: white;
  border-radius: 4%;
}



.Burritos{
  background-color: white;
  border-radius: 4%;
}

.Quesadilla{
  background-color: white;
  border-radius: 4%;
}

.Nachos{
  background-color: white;
  border-radius: 4%;
}

.foodName{
  display: inline-flex;
  margin: 30px;
}

.foodTypeBorder{
  border: 1px solid black;
  background-color: darkseagreen;
  text-align: center;
  
}

.foodItem{
  display: flex;
  flex-direction: column ;
}

.food-button{
  display: flex;
  flex-direction: row;
  
}

.foodList{
  display: flex;
  flex-direction: column;
}


.types0{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.types0change{
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.types0plus{
  height: 20px;
  width: 25px;
  background-color: darkseagreen;
  border: 2px;
  border-radius: 30%;
}

.types0minus{
  height: 20px;
  width: 25px;
  margin-right: 5px;
  background-color: darkseagreen;
  border: 2px;
  border-radius: 30%;
}

.types1{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.types1change{
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.types1plus{
  height: 20px;
  width: 25px;
  background-color: darkseagreen;
  border: 2px;
  border-radius: 30%;
}

.types1minus{
  height: 20px;
  width: 25px;
  margin-right: 5px;
  background-color: darkseagreen;
  border: 2px;
  border-radius: 30%;
}

.types2{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.types2change{
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.types2plus{
  height: 20px;
  width: 25px;
  background-color: darkseagreen;
  border: 2px;
  border-radius: 30%;
}

.types2minus{
  height: 20px;
  width: 25px;
  margin-right: 5px;
  background-color: darkseagreen;
  border: 2px;
  border-radius: 30%;
}

.types3{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.types3change{
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.types3plus{
  height: 20px;
  width: 25px;
  background-color: darkseagreen;
  border: 2px;
  border-radius: 30%;
}

.types3minus{
  height: 20px;
  width: 25px;
  margin-right: 5px;
  background-color: darkseagreen;
  border: 2px;
  border-radius: 30%;
}


.addToOrderButton{
  height: 30px;
  width: 100px;
}

.margin-right{
  margin-right: 10px;
}